In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
import webbrowser
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [9]:
df = pd.read_clipboard()

In [10]:
df

   Nov 2020  Nov 2019  Change Programming Language Ratings Change.1
0         1         2  change                    C  16.21%   +0.17%
1         2         3  change               Python  12.12%   +2.27%
2         3         1  change                 Java  11.68%   -4.57%
3         4         4     NaN                  C++   7.60%   +1.99%
4         5         5     NaN                   C#   4.67%   +0.36%
5         6         6     NaN         Visual Basic   4.01%   -0.22%
6         7         7     NaN           JavaScript   2.03%   +0.10%
7         8         8     NaN                  PHP   1.79%   +0.07%
8         9        16  change                    R   1.64%   +0.66%
9        10         9  change                  SQL   1.54%   -0.15%

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.columns

Index(['Nov', '2020', 'Nov.1', '2019', 'Change', 'Programming', 'Language',
       'Ratings', 'Change.1'],
      dtype='object')

In [12]:
df.Ratings

0    16.21%
1    12.12%
2    11.68%
3     7.60%
4     4.67%
5     4.01%
6     2.03%
7     1.79%
8     1.64%
9     1.54%
Name: Ratings, dtype: object

In [23]:
data1 = DataFrame(df,columns = ['Nov 2020', 'Nov 2019'])

In [24]:
data1

   Nov 2020  Nov 2019
0         1         2
1         2         3
2         3         1
3         4         4
4         5         5
5         6         6
6         7         7
7         8         8
8         9        16
9        10         9

In [25]:
type(data1)

pandas.core.frame.DataFrame

In [26]:
type(df['Nov 2020'])

pandas.core.series.Series

In [27]:
data1 = DataFrame(df,columns = ['Nov 2020', 'Nov 2019', 'Nov 2018'])

In [28]:
data1

   Nov 2020  Nov 2019  Nov 2018
0         1         2       NaN
1         2         3       NaN
2         3         1       NaN
3         4         4       NaN
4         5         5       NaN
5         6         6       NaN
6         7         7       NaN
7         8         8       NaN
8         9        16       NaN
9        10         9       NaN

In [29]:
data1['Nov 2018'] = range(10)

In [30]:
data1

   Nov 2020  Nov 2019  Nov 2018
0         1         2         0
1         2         3         1
2         3         1         2
3         4         4         3
4         5         5         4
5         6         6         5
6         7         7         6
7         8         8         7
8         9        16         8
9        10         9         9