In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df1 = DataFrame({'人口':[1000,2000,1500],'城市':['北京','上海','广州']})

In [3]:
df1

     人口  城市
0  1000  北京
1  2000  上海
2  1500  广州

In [7]:
gdp_map={'北京':1000,'上海':2000,'广州':1500}

In [8]:
df1['GDP'] = df1['城市'].map(gdp_map)

In [9]:
df1

     人口  城市   GDP
0  1000  北京  1000
1  2000  上海  2000
2  1500  广州  1500

In [10]:
s1 = Series(np.arange(10))

In [11]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [12]:
s1.replace([1,2,3],[4,5,6])

0    0
1    4
2    5
3    6
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64