In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series Reindex

In [2]:
s1 = Series([1,2,3,4],index=['A','B','C','D'])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
s1.reindex(index=['A','B','C','D','E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [6]:
s2 = Series(['A','B','C'], index=[1,4,7])

In [7]:
s2

1    A
4    B
7    C
dtype: object

In [8]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       B
5       B
6       B
7       C
8       C
9       C
10      C
11      C
12      C
13      C
14      C
dtype: object

# reindex dataframe

In [11]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]),index=['A','B','C','D','E'],columns=['c1','c2','c3','c4','c5'])

In [12]:
df1

         c1        c2        c3        c4        c5
A  0.560760  0.530208  0.357055  0.476888  0.570518
B  0.870225  0.562355  0.704567  0.716402  0.883870
C  0.562081  0.350262  0.075137  0.587521  0.374701
D  0.954208  0.378891  0.008577  0.082732  0.020111
E  0.677022  0.125249  0.909860  0.647832  0.098672

In [17]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.560760  0.530208  0.357055  0.476888  0.570518
B  0.870225  0.562355  0.704567  0.716402  0.883870
C  0.562081  0.350262  0.075137  0.587521  0.374701
D  0.954208  0.378891  0.008577  0.082732  0.020111
E  0.677022  0.125249  0.909860  0.647832  0.098672
F       NaN       NaN       NaN       NaN       NaN

In [18]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.560760  0.530208  0.357055  0.476888  0.570518 NaN
B  0.870225  0.562355  0.704567  0.716402  0.883870 NaN
C  0.562081  0.350262  0.075137  0.587521  0.374701 NaN
D  0.954208  0.378891  0.008577  0.082732  0.020111 NaN
E  0.677022  0.125249  0.909860  0.647832  0.098672 NaN

In [20]:
df1.drop(labels='A')

         c1        c2        c3        c4        c5
B  0.870225  0.562355  0.704567  0.716402  0.883870
C  0.562081  0.350262  0.075137  0.587521  0.374701
D  0.954208  0.378891  0.008577  0.082732  0.020111
E  0.677022  0.125249  0.909860  0.647832  0.098672

In [22]:
df1.drop(labels='c1',axis=1)

         c2        c3        c4        c5
A  0.530208  0.357055  0.476888  0.570518
B  0.562355  0.704567  0.716402  0.883870
C  0.350262  0.075137  0.587521  0.374701
D  0.378891  0.008577  0.082732  0.020111
E  0.125249  0.909860  0.647832  0.098672