In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
s1 = Series(np.random.randn(6),index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])

In [3]:
s1

1  a   -0.103758
   b   -0.698612
   c   -1.205026
2  a   -0.404510
   b    1.488228
   c    1.209085
dtype: float64

In [9]:
type(s1['1'])

pandas.core.series.Series

In [12]:
type(s1['1']['a'])

numpy.float64

In [13]:
type(s1[:,'a'])

pandas.core.series.Series

In [16]:
df1 = s1.unstack()

In [17]:
s2 = df1.unstack()

In [18]:
s2

a  1   -0.103758
   2   -0.404510
b  1   -0.698612
   2    1.488228
c  1   -1.205026
   2    1.209085
dtype: float64

In [19]:
df1

          a         b         c
1 -0.103758 -0.698612 -1.205026
2 -0.404510  1.488228  1.209085

In [20]:
df = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['BJ','BJ','SH','GZ'],[8,8,9,9]])

In [21]:
df

     BJ      SH  GZ
      8   8   9   9
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [24]:
df['BJ'],type(df['BJ'])

(      8   8
 a 1   0   1
   2   4   5
 b 1   8   9
   2  12  13,
 pandas.core.frame.DataFrame)

In [27]:
df['SH'][9],type(df['SH'][9])

(a  1     2
    2     6
 b  1    10
    2    14
 Name: 9, dtype: int32,
 pandas.core.series.Series)