In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
data = {'Country':['Belgium','India','Brazil'],
       'Capital':['Brussels','New Delhi','Brasilia'],
       'Population':[11190846,1303171035,207847528]}

# Series

In [7]:
s1 = pd.Series(data['Country'],index=['a','b','c'])

In [4]:
s1

0    Belgium
1      India
2     Brazil
dtype: object

In [8]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [9]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [10]:
df1 = pd.DataFrame(data)

In [11]:
df1

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528

In [12]:
df1['Country']

0    Belgium
1      India
2     Brazil
Name: Country, dtype: object

In [13]:
for item in df1.iterrows():
    print(item)

(0, Country        Belgium
Capital       Brussels
Population    11190846
Name: 0, dtype: object)
(1, Country            India
Capital        New Delhi
Population    1303171035
Name: 1, dtype: object)
(2, Country          Brazil
Capital        Brasilia
Population    207847528
Name: 2, dtype: object)

In [14]:
s1 = pd.Series(data['Country'])

In [15]:
s2 = pd.Series(data['Capital'])

In [16]:
s3 = pd.Series(data['Population'])

In [21]:
df_new = pd.DataFrame([s1,s2,s3],index=['Country','Capital','Population'])

In [22]:
df_new

                   0           1          2
Country      Belgium       India     Brazil
Capital     Brussels   New Delhi   Brasilia
Population  11190846  1303171035  207847528

In [23]:
df_new = df_new.T

In [24]:
df_new

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasilia   207847528