In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
df1 = DataFrame({'key':['X','Y','Z','X'], 'data_set_1':[1,2,3,4]})

In [3]:
df1

  key  data_set_1
0   X           1
1   Y           2
2   Z           3
3   X           4

In [4]:
df2 = DataFrame({'key':['X','B','C'], 'data_set_2':[4,5,6]})

In [5]:
df2

  key  data_set_2
0   X           4
1   B           5
2   C           6

In [11]:
pd.merge(df1,df2,on=None)

  key  data_set_1  data_set_2
0   X           1           4
1   X           4           4

In [20]:
pd.merge(df1,df2, on='key',how='inner')

   data_set_1 key  data_set_2
0           1   X           4
1           4   X           4

In [21]:
pd.merge(df1, df2, on='key', how='left')

   data_set_1 key  data_set_2
0           1   X         4.0
1           2   Y         NaN
2           3   Z         NaN
3           4   X         4.0

In [22]:
pd.merge(df1,df2, on='key', how='right')

   data_set_1 key  data_set_2
0         1.0   X           4
1         4.0   X           4
2         NaN   B           5
3         NaN   C           6

In [23]:
pd.merge(df1,df2, on='key', how='outer')

   data_set_1 key  data_set_2
0         1.0   X         4.0
1         4.0   X         4.0
2         2.0   Y         NaN
3         3.0   Z         NaN
4         NaN   B         5.0
5         NaN   C         6.0

In [29]:
import webbrowser

In [31]:
webbrowser.open('https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html')

True

# how的用法和SQL的连接类似，可以以对数据库操作的理解，理解how的用法

# 根据某一个key(column字段关联),不会涉及到+-之类的操作