In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
from datetime import datetime
t1 = datetime(2009,10,20)

In [9]:
t1

datetime.datetime(2009, 10, 20, 0, 0)

In [10]:
date_list = [
    datetime(2016,9,1),
    datetime(2016,9,10),
    datetime(2017,9,1),
    datetime(2017,9,20),
    datetime(2017,10,1)
]

In [11]:
date_list

[datetime.datetime(2016, 9, 1, 0, 0),
 datetime.datetime(2016, 9, 10, 0, 0),
 datetime.datetime(2017, 9, 1, 0, 0),
 datetime.datetime(2017, 9, 20, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0)]

In [12]:
s1 = Series(np.random.rand(5), index=date_list)

In [13]:
s1

2016-09-01    0.910553
2016-09-10    0.841504
2017-09-01    0.284601
2017-09-20    0.994867
2017-10-01    0.474286
dtype: float64

In [14]:
s1.values

array([0.91055262, 0.84150427, 0.28460116, 0.99486739, 0.47428577])

In [15]:
s1.index

DatetimeIndex(['2016-09-01', '2016-09-10', '2017-09-01', '2017-09-20',
               '2017-10-01'],
              dtype='datetime64[ns]', freq=None)

In [16]:
s1[1]

0.8415042660741225

In [17]:
s1[datetime(2016,9,10)]

0.8415042660741225

In [18]:
s1['2016-9-10']

0.8415042660741225

In [19]:
s1['20160910']

0.8415042660741225

In [20]:
s1['2017-09']

2017-09-01    0.284601
2017-09-20    0.994867
dtype: float64

In [21]:
s1['2016']

2016-09-01    0.910553
2016-09-10    0.841504
dtype: float64

In [22]:
s1['2017']

2017-09-01    0.284601
2017-09-20    0.994867
2017-10-01    0.474286
dtype: float64

In [23]:
s1

2016-09-01    0.910553
2016-09-10    0.841504
2017-09-01    0.284601
2017-09-20    0.994867
2017-10-01    0.474286
dtype: float64

In [24]:
date_list_new = pd.date_range('2016-01-01', periods=100, freq='5H')

In [25]:
s2 = Series(np.random.rand(100), index=date_list_new)

In [26]:
type(date_list_new)

pandas.core.indexes.datetimes.DatetimeIndex

#  如何创建datetime类型的索引，并使用使用在Series里，多种通过下标获取value的方法。使用pd创建datetimeindex